p {
    color: white
}
p.darker {
    font-weight: bold;
    color: darkred;
}
.listItemImage {
    width: 128px
    height: 128px
}
.listItem {
    background-color: #00202F;
    border-style: groove;
    border-color: lightsteelblue;
    border-width: 4px;
}
.dialogish {
    background-image: url('img/bg2.png');
    background-repeat: repeat;
    border-style: groove;
    border-color: gray;
    border-width: 4px;
}
